<div class="row">
    <div class="col-lg-8 col-xl-6 text-left">
        <a class="btn btn-primary m--margin-bottom-10" href="{{ path('term_index') }}">back to list</a>
    </div>
    {% if(has_delete) %}
        <div class="col-lg-8 col-xl-6 text-lg-right">
            {{ include('term/_delete_form.html.twig') }}
        </div>
    {% endif %}
</div>
